<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>트립조이-내정보</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <style>
  </style>
</head>
<body>
  <!--헤더공통영역-->
  <th:block th:replace="~{common/header :: header}"></th:block>
  <main>
    <!--내 정보 리뷰-->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <!--사이드바공통영역-->
          <th:block th:replace="~{member/common/sidebar :: sidebarMember}"></th:block>
          <!--사이드바공통영역-end-->
          <div class="col-9">
            <div class="box">
              <h2>내 정보</h2>
              <div class="row mt-4 border reservation-contents" >

                <div class="col-2">
                  <img src="/images/basicuser.svg" alt="mdo" width="60" height="60" class="rounded-circle">
                </div>

                <div class="col-8">
                  <p th:text="'아이디 : '+${myPage.memberId}">아이디 : 0000</p>
                  <p th:text="'이메일 : '+${myPage.email}">이메일 : 0000@000.com</p>
                  <p th:text="'리뷰수 : '+${myPage.reviewCnt}+'개'">리뷰수 : 00</p>
                </div>

                <div class="col-2">
                    <div><button class="sub-button">회원수정</button></div>
                    <div><button class="sub-button">회원탈퇴</button></div>
                </div>
              </div>
              <div class="loading_circle" id="loadingCircle" style="display: none;"></div>
              <div class="noRoomMessage" id="noRoomMessage" style="display: none; margin: 150px;">등록된 리뷰가 없습니다.</div>
              <div id="review-wrapper">
                <div class="row mt-4 border" style="border-radius: 20px; padding: 20px;">

                  <div class="col-2">
                    <img class="img-fluid rounded" src="https://dummyimage.com/150x150/ced4da/6c757d.jpg" alt="...">
                  </div>

                  <div class="col-8">
                    <p>숙소이름</p>
                    <p>리뷰내용</p>
                  </div>

                  <div class="col-2">
                    <div><button class="sub-button">리뷰삭제</button></div>
                  </div>
                </div>
              </div>
              <div id="reviewPage-wrapper" style="display: flex;justify-content: center;align-items: center;margin-top: 20px;"></div>
            </div>
          </div>
        </div>
      </div>
    </section>




  </main>

  <script>
    // 페이지가 로드될 때 지역 숙소 리스트
    let currentPage = 1; // 현재 페이지 번호를 추적하는 변수
    $(document).ready(function(){
      getReviewList(0,10 ,true,currentPage);
    });


  </script>
  <script>
    // 숙소 리스트
    function getReviewList(page,size,removeExisting,currentPage) {
      let ajaxurl = "/review/list/" + page+"/"+ size;
      $('#loadingCircle').show(); //로딩바 보여주기
      $.ajax({
        url: ajaxurl,
        type: 'GET',
        success: function(data) {
          $('#loadingCircle').hide();// 로딩 바 숨기기
          console.log(data);

          if (removeExisting) {
            // removeExisting가 true일 때만 기존의 리뷰 리스트를 삭제
            $("#review-wrapper").empty();
            $("#reviewPage-wrapper").empty();
          }
          if (data.length === 0) {
            $('#noRoomMessage').show();
          } else {
            $('#noRoomMessage').hide();
            // 새로운 숙소 리스트를 추가
            data.reviews.content.forEach(function (review) {
              var reviewItem = `
                <div class="row mt-4 border" style="border-radius: 20px; padding: 20px;">

                <div class="col-2">
                  <img style="width: 100px;height: 100px;" class="room-item-img" src="/images/roomimage/${review.roomImg}" alt="">
                </div>

                <div class="col-8">
                  <p>리뷰한곳: ${review.roomName}</p>
                  <p>리뷰한 내용: ${review.content}</p>
                  <p>평가한평점: ${review.rating}</p>
                </div>

                <div class="col-2">
                  <div><button class="sub-button" id="delete-button-${review.id}" value="${review.id}">리뷰삭제</button></div>
                </div>

              </div>`;
              $("#review-wrapper").append(reviewItem);
            });

            var reviewPageItem = '<ul class="pagination">';

            // 이전 페이지 버튼
            if (data.reviews.number > 0) {
              reviewPageItem += '<li class="paginate_button page-item previous">';
              reviewPageItem += `<a href="#" onclick="getReviewList(${data.reviews.number - 1}, ${data.reviews.size}, true, ${data.reviews.number}); return false;" class="page-link">이전</a>`;
              reviewPageItem += '</li>';
            }

            // 페이지 번호
            for (var i = 0; i < data.reviews.totalPages; i++) {
              reviewPageItem += '<li class="paginate_button page-item' + (i == data.reviews.number ? ' active' : '') + '">';
              reviewPageItem += '<a href="#" onclick="getReviewList(' + i + ', ' + data.reviews.size + ', true, ' + (i + 1) + '); return false;" class="page-link">' + (i + 1) + '</a>';
              reviewPageItem += '</li>';
            }

            // 다음 페이지 버튼
            if (data.reviews.number < data.reviews.totalPages - 1) {
              reviewPageItem += '<li class="paginate_button page-item next">';
              reviewPageItem += `<a href="#" onclick="getReviewList(${data.reviews.number + 1}, ${data.reviews.size}, true, ${data.reviews.number + 2}); return false;" class="page-link">다음</a>`;
              reviewPageItem += '</li>';
            }
            reviewPageItem += '</ul>';

            $("#reviewPage-wrapper").append(reviewPageItem);
          }
        },
        error: function(error) {
          $('#loadingCircle').hide();
          console.log('Error: ' + error);
        }
      });
    }
  </script>
  <script>
    $(document).ready(function() {
      $(document).on('click', "[id^='delete-button-']", function() {
        //alert("리뷰삭제");
        var reviewId = $(this).val();
        //alert(reviewId);
        $.ajax({
          url: '/review/del/' + reviewId,
          type: 'DELETE',
          success: function(result) {
            if (result === 'success') {
              alert('리뷰가 삭제되었습니다.');
            } else {
              alert('리뷰 삭제에 실패했습니다.');
            }
            location.reload();
          }
        });
      });
    });
  </script>
  <!--footer공통영역-->
  <th:block th:replace="~{common/footer :: footer}"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>