<!--관리자 헤더-->
<header class="p-3 mb-3" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/room/main" class="nav-link px-2 link-body-emphasis">관리자 종료</a></li>
            </ul>

            <div>
                <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/basicuser.svg" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
    </div>
</header>
<!--  관리자 헤더 end -->