<!-- 사이드바 -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">

    <!-- 로고 -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/main">
        <div class="sidebar-brand-text mx-3"><img src="/images/logo.png" alt="로고" width="200px" style="background: #fff;
    border-radius: 20px;"></div>
    </a>

    <!-- 수평선 -->
    <hr class="sidebar-divider my-0">

    <!-- 탐색 항목 - 대시보드 -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/main">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span></a>
    </li>

    <!-- 수평선 -->
    <hr class="sidebar-divider">

    <!-- 헤딩 -->
    <div class="sidebar-heading">
        숙소 관리
    </div>

    <!-- 숙소 등록 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/roomReg" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>숙소 등록</span>
        </a>
    </li>

    <!-- 숙소 목록 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/roomList/0/10/" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>숙소 목록</span>
        </a>
    </li>

    <!-- 수평선 -->
    <hr class="sidebar-divider">


</ul>
<!--  사이드바 end -->