<!-- 사이드바 -->
<div class="col-3" th:fragment="sidebarMember" xmlns:th="http://www.thymeleaf.org">
    <div class="box border p-4 sidebar-list"><a href="/member/memberMyPage" class="nav-link px-2 link-body-emphasis">내 정보</a></div>
    <div class="box border p-4 sidebar-list"><a href="/member/memberMyPageReservationDetails" class="nav-link px-2 link-body-emphasis">예약 내역</a></div>
    <div class="box border p-4 sidebar-list"><a href="#" class="nav-link px-2 link-body-emphasis">문의 내역</a></div>
</div>