<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>트립조이-더보기</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script>
    // 페이지가 로드될 때 지역 숙소 리스트
    let currentPage = 1; // 현재 페이지 번호를 추적하는 변수
    let morePage = 1;
    $(document).ready(function(){

      getRoomList(1,true,currentPage);
      $('#tag_1 a').addClass('active');

      $(window).scroll(function() {
        // 스크롤이 페이지 하단에 도달했는지 확인
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
          morePage++; //증가
          getRoomList(1,false,morePage); // 다음 페이지 데이터 로드
        }
      });

      // 필터를 클릭하면 해당 필터에 맞는 숙소 리스트
      $(".hashTagVal a").click(function() {
        $(".hashTagVal a").removeClass("active");
        $(this).addClass("active");
        var id = $(this).parent().attr('id').replace('tag_', '');
        getRoomList(id,true,currentPage);
      });

    });


  </script>
  <script>
    // 숙소 리스트
    function getRoomList(id,removeExisting,currentPage) {
      var path = window.location.pathname;
      var ajaxurl;
      var start = (currentPage - 1) * 8;

      if(path === '/room/region') {
        ajaxurl = "/room/main/" + id + "/location/" + start + "/8";
      }
      else if(path === '/room/theme') {
        ajaxurl = "/room/main/" + id + "/theme/" + start + "/8";
      }
      else if(path === '/room/popular') {
        ajaxurl = "/room/main/popular/" + start + "/8";
      }
      $('#loadingCircle').show(); //로딩바 보여주기
      $.ajax({
        url: ajaxurl,
        type: 'GET',
        success: function(data) {
          $('#loadingCircle').hide();// 로딩 바 숨기기
          console.log(data);

          if (removeExisting) {
            // removeExisting가 true일 때만 기존의 숙소 리스트를 삭제
            $("#room-wrapper").empty();
          }
          if (data.length === 0) {
            $('#noRoomMessage').show();
          } else {
            $('#noRoomMessage').hide();
            // 새로운 숙소 리스트를 추가
            data.forEach(function (room) {
              var roomItem = `
                            <div class="room-item">
                                <a href="/room/detail/${room.id}">
                                    <div class="room-item-box-img">
                                        <img class="room-item-img" src="/images/roomimage/${room.image}" alt="">
                                    </div>
                                    <div class="room-item-content">
                                        <div class="room-item-title">${room.name}</div>
                                        <div class="room-item-score-review">
                                            <div class="room-item-score">
                                                <span>${room.rating}</span>
                                                <span>/</span>
                                                <span>5</span>
                                            </div>
                                            <div class="room-item-review">
                                                이용자 리뷰 ${room.reviewCount}개
                                            </div>
                                        </div>
                                        <div class="room-item-price">${room.price.toLocaleString()}원</div>
                                    </div>
                                </a>
                            </div>`;
              $("#room-wrapper").append(roomItem);
            });
          }
        },
        error: function(error) {
          $('#loadingCircle').hide();
          console.log('Error: ' + error);
        }
      });
    }
  </script>
  <style>
      .room-item{
        width: 295.5px;
        margin: 5px;
        padding-right: 0px;
        padding-left: 0px;
      }
      .justify-content-evenly {
        justify-content: center !important;
      }
  </style>
</head>
<body>
  <!--헤더공통영역-->
  <th:block th:replace="~{common/header :: header}"></th:block>
  <main>
    <!--더보기화면-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
          <p class="page-title" th:text="${type}"></p>
          <!--필터부분--><!--인기숙소이면 필터없음-->
          <div id="filter-wrap">
            <div class="filter-wrap" >
              <ul>
                <li th:each="location : ${locations}" th:id="'tag_' + ${location.id}" class="hashTagVal">
                  <a href="javascript:void(0);" th:onclick="'getRoomLocationList(\'' + ${location.id} + '\');'" th:text="${location.name}"></a>
                </li>
              </ul>
              <a href="javascript:void(0)" class="btn-open"></a>
            </div>
            <!--필터부분-->
            <div class="filter-wrap" >
              <ul>
                <li th:each="theme : ${themes}" th:id="'tag_' + ${theme.id}" class="hashTagVal">
                  <a href="javascript:void(0);" th:onclick="'getRoomThemeList(\'' + ${theme.id} + '\');'" th:text="${theme.name}"></a>
                </li>
              </ul>
              <a href="javascript:void(0)" class="btn-open"></a>
            </div>
          </div>
          <div class="">          
            <!-- 다른 아이템들 -->
            <div class="container ">
              <div id="room-wrapper" class="row row-cols-3 row-cols-sm-3 row-cols-md-3 room-item-container justify-content-evenly" >
                <!-- 아이템 -->
              </div>
              <div class="loading_circle" id="loadingCircle" style="display: none;"></div>
              <div class="noRoomMessage" id="noRoomMessage" style="display: none; margin: 150px;">등록된 숙소가 없습니다.</div>
            </div>
          </div>
        </div>
    </section>




  </main>

  <!--footer공통영역-->
  <th:block th:replace="~{common/footer :: footer}"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>