<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  
  <!-- flatpickr -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
  <style>
      .justify-content-space-between{justify-content: space-between;}
  </style>
    <!--카카오맵-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f4dd8fe5910ea0ebe66e44e68d2a7493&libraries=services,clusterer,drawing"></script>
    <script th:inline="javascript">

        var map;
        var marker;

        function initMap() {
            // 사용자의 현재 위치
            //<![CDATA[
            var latitude = /*[[${room.locationY}]]*/ 37.56413895923679;
            var longitude = /*[[${room.locationX}]]*/ 126.97718160053579;
            //]]>

            var initialLatLng = new kakao.maps.LatLng(latitude, longitude);

            var mapOptions = {
                center: initialLatLng,
                level: 2
            };

            // 지도 생성
            map = new kakao.maps.Map(document.getElementById('map'), mapOptions);

            // 마커 생성
            marker = new kakao.maps.Marker({
                position: map.getCenter(),
                draggable: true // 마커를 드래그할 수 있도록 설정
            });
            marker.setMap(map);

            // 주소 값을 가져와서 마커를 생성
            var address = document.getElementById('address').value;
            createMarker(address);

        }
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            initMap();//맵실행
        });//$(document).ready(function(){ !end!
    </script>
</head>
<body>
    <!--헤더공통영역-->
    <th:block th:replace="~{common/header :: header}"></th:block>
  <main>
    <!--제목부분-->
    <section class="">
      <div class="container mt-5">
        <div>
        <div class="row">
            <div class="col-lg-12">
                <!-- 숙소보기-->
                <article>
                    <!-- 숙소 헤더부분-->
                    <header class="mb-1">
                        <!-- 숙소이름부분-->
                        <h1 class="fw-bolder mb-1" th:text="${room.name}"></h1>
                        <!--필터부분-->
                        <div class="filter-wrap mt-3">
                          <ul class="js_toggle2">
                              <li  class="hashTagVal"><a th:text="${room.locationName}"></a></li>
                              <li  class="hashTagVal"><a th:text="${room.themeName}"></a></li>
                          </ul>
                        </div>
                    </header>
                </article>
            </div>
          </div>
        </div>
    </div>

    </section>
    <section class="">
      <div class="container">
        <div>
        <div class="row">
            <div class="col-lg-12">
                <!-- 숙소보기-->
                <article class="container">
                    <div class="row">
                        <div class="col-6">
                            <figure th:each="image, stat : ${room.image}" th:if="${stat.index} == 0">
                                <img class="img-fluid rounded" th:src="'/images/roomimage/'+${image}" alt="..." style="width: 624px; height: 316px;">
                            </figure>
                        </div>
                        <div class="col-3">
                            <figure th:each="image, stat : ${room.image}" th:if="${stat.index} % 2 == 1">
                                <img class="img-fluid rounded" th:src="'/images/roomimage/'+${image}" alt="..." style="width: 300px; height: 150px;">
                            </figure>
                        </div>
                        <div class="col-3">
                            <figure th:each="image, stat : ${room.image}" th:if="${stat.index} % 2 == 0 and ${stat.index} != 0">
                                <img class="img-fluid rounded" th:src="'/images/roomimage/'+${image}" alt="..." style="width: 300px; height: 150px;">
                            </figure>
                        </div>
                    </div>
                </article>
            </div>
          </div>
        </div>
    </div>

    </section>
    <!--숙소 클릭시 화면-->
    <section class="">
      <div class="container">
        <div>
        <div class="row justify-content-space-between me-1">
            <div class="col-lg-7 ms-3">
                <!-- 숙소보기-->
                <article>
                    <!-- 상품 부분-->
                    <section class="mb-5">
                        <div class="fs-5 mb-4">내용
                          <div th:text="${room.description}"></div>
                        </div>
                        <hr class="hr-ebebeb" style="background: #c9c9c9;border: 0;height: 1px;margin: 4px 0 16px;">
                        <div class="fs-5 mb-4">지역
                            <div th:text="'상세주소: '+${room.address}"></div>
                            <div id="map" style="width: 650px; height: 400px;"></div>
                        </div>
                        <hr class="hr-ebebeb" style="background: #c9c9c9;border: 0;height: 1px;margin: 4px 0 16px;">
                        <div class="fs-5 mb-4">리뷰</div>
                        <div class="fs-5 mb-4" th:text="${room.rating}+ ' 후기 ' + ${room.reviewCount} + '개'"></div>
                        <hr class="hr-ebebeb" style="background: #c9c9c9;border: 0;height: 1px;margin: 4px 0 16px;">
                    </section>
                </article>
                <!-- 리뷰 부분-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- 리뷰-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <div class="fw-bold">구매자 별명</div>
                                    리뷰 내용
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mb-5" th:each="review : ${reviews}">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img class="rounded-circle" src="/images/basicuser.svg" alt="...">
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold" th:text="${review.reviewMemberName}">구매자 별명</div>
                                    <div th:text="${review.reviewContent}">리뷰 내용</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- 예약부분 -->
            <div class="col-lg-4">
                <!-- 예약부분-->
                <div class="card mb-4">
                    <div class="card-body">
                      <div id="price">원/박</div>
                        <script th:inline="javascript">
                            //<![CDATA[
                            var price = /*[[${room.price}]]*/ 'room.price';
                            document.getElementById('price').innerText = numberWithCommas(price) + '원/박';

                            function numberWithCommas(x) {
                                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            }
                            //]]>
                        </script>
                      <div th:text="${room.rating}+ ' 후기 ' + ${room.reviewCount} + '개'"></div>
                      <!---->
                      <div>
                        <label for="date-range">체크인 - 체크아웃:</label>
                        <input type="text" id="date-range" name="date-range">
                      </div>
                      <div>
                        <div id="dropdown">
                          <button id="total-button">총 인원: <span id="total">0</span>명</button>
                          <div id="dropdown-content" style="display: none;">
                            <div>
                              <label for="adults">성인:</label>
                              <button id="minus-adults">-</button>
                              <span id="adults">0</span>
                              <button id="plus-adults">+</button>
                            </div>
                            <div>
                              <label for="children">어린이:</label>
                              <button id="minus-children">-</button>
                              <span id="children">0</span>
                              <button id="plus-children">+</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--예약하기-->
                        <form id="form" action="/reserve/roomReserve" method="post">
                            <input type="hidden" id="hidden-room" name="roomId" th:value="${room.id}">
                            <input type="hidden" id="hidden-checkIn" name="checkIn">
                            <input type="hidden" id="hidden-checkOut" name="checkOut">
                            <input type="hidden" id="hidden-total" name="total">
                            <input type="hidden" id="hidden-adults" name="adults">
                            <input type="hidden" id="hidden-children" name="children">
                            <div class="btn-wrap">
                                <button type="submit"  class="btn-type full"id="aBtnLogin">예약하기</button>
                            </div>
                        </form>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                // 성인, 어린이 수 변경 이벤트
                                ['plus-adults', 'minus-adults', 'plus-children', 'minus-children'].forEach(function(id) {
                                    document.getElementById(id).addEventListener('click', function () {
                                        // 성인수와 어린이수를 숫자로 변환하여 더함
                                        var total = Number(document.getElementById('adults').textContent) + Number(document.getElementById('children').textContent);

                                        // 총 인원수 업데이트
                                        document.getElementById('total').textContent = total;
                                        document.getElementById('hidden-total').value = total;
                                    });
                                });

                                document.getElementById('date-range').addEventListener('change', function () {
                                    // 체크인, 체크아웃 날짜 분리
                                    var dates = this.value.split('~').map(date => date.trim());
                                    document.getElementById('hidden-checkIn').value = dates[0];
                                    document.getElementById('hidden-checkOut').value = dates[1];
                                });

                                // 성인 수 변경 이벤트
                                document.getElementById('plus-adults').addEventListener('click', function () {
                                    document.getElementById('hidden-adults').value = document.getElementById('adults').textContent;
                                });
                                document.getElementById('minus-adults').addEventListener('click', function () {
                                    document.getElementById('hidden-adults').value = document.getElementById('adults').textContent;
                                });

                                // 어린이 수 변경 이벤트
                                document.getElementById('plus-children').addEventListener('click', function () {
                                    document.getElementById('hidden-children').value = document.getElementById('children').textContent;
                                });
                                document.getElementById('minus-children').addEventListener('click', function () {
                                    document.getElementById('hidden-children').value = document.getElementById('children').textContent;
                                });
                            });
                        </script>


                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    </section>
  </main>

    <!--footer공통영역-->
    <th:block th:replace="~{common/footer :: footer}"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script>
    // JavaScript
    window.addEventListener('DOMContentLoaded', (event) => {
      const dateRange = document.getElementById("date-range");
      const fp = flatpickr(dateRange, {
        mode: "range",
        dateFormat: "Y-m-d",
        locale: "ko",
        onClose: function(selectedDates, dateStr, instance) {
          let dates = dateStr.split(" to ");
          if (dates.length == 2) {
            let startDate = fp.parseDate(dates[0], "Y-m-d");
            let endDate = fp.parseDate(dates[1], "Y-m-d");
            let nightCount = (endDate - startDate) / (1000 * 60 * 60 * 24);
            alert(nightCount + "박 " + (nightCount + 1) + "일");
          }
        }
      });
    });
    </script>
<script>
  // JavaScript
  var adults = document.getElementById("adults");
  var children = document.getElementById("children");
  var total = document.getElementById("total");
  var dropdownContent = document.getElementById("dropdown-content");
  
  document.getElementById("total-button").addEventListener("click", function() {
    dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
  });
  
  document.getElementById("plus-adults").addEventListener("click", function(event) {
    adults.textContent = Number(adults.textContent) + 1;
    total.textContent = Number(adults.textContent) + Number(children.textContent);
    event.stopPropagation();
  });
  
  document.getElementById("minus-adults").addEventListener("click", function(event) {
    if (Number(adults.textContent) > 1) {
      adults.textContent = Number(adults.textContent) - 1;
      total.textContent = Number(adults.textContent) + Number(children.textContent);
    }
    event.stopPropagation();
  });
  
  document.getElementById("plus-children").addEventListener("click", function(event) {
    children.textContent = Number(children.textContent) + 1;
    total.textContent = Number(adults.textContent) + Number(children.textContent);
    event.stopPropagation();
  });
  
  document.getElementById("minus-children").addEventListener("click", function(event) {
    if (Number(children.textContent) > 0) {
      children.textContent = Number(children.textContent) - 1;
      total.textContent = Number(adults.textContent) + Number(children.textContent);
    }
    event.stopPropagation();
  });
  
  window.addEventListener("click", function(event) {
    if (!event.target.matches("#total-button")) {
      dropdownContent.style.display = "none";
    }
  });
  </script>

</body>
</html>